/*.product-detail .top-detail .photo .preview {*/
    /*height: 375px !important;*/
/*}*/
.top-detail{
    min-height: 705px;
}
.addthis {
    width: 100%;
    border-right: none !important;
}
.addthis ul li {
    display: inline;
    float: left;
    padding-right: 10px;
    width: 100px;
}
.h1_breadcrumb {
    font-size: 26px;
    font-weight: normal;
}
.products .item .caption .title {
    font-size: 13px;
}
@media screen and (max-width: 767px) {
    .breadcrumb > ul > li:last-child h1 {
        font-size: 18px;
    }
}
.cd-top {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    /* image replacement properties */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: rgba(232, 98, 86, 0.8) url(../images/cd-top-arrow.svg) no-repeat center 50%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
    z-index: 1000;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
    /* the button becomes visible */
    visibility: visible;
    opacity: 1;
}
.cd-top.cd-fade-out {
    /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
    opacity: .5;
}
.no-touch .cd-top:hover {
    background-color: #e86256;
    opacity: 1;
}
@media only screen and (min-width: 768px) {
    .cd-top {
        right: 20px;
        bottom: 20px;
    }
}
@media only screen and (min-width: 1024px) {
    .cd-top {
        height: 60px;
        width: 60px;
        right: 30px;
        bottom: 30px;
    }
}
.editor table {
    margin-top: 5px;
    margin-bottom: 5px;
}
.editor table tr, .editor table td {
    border: 1px solid;
}

.bottombar.mobilebar{
    bottom: 30px !important;
}
.fb-chat-box {
    position: fixed;
    left: 0;
    bottom: 0;
    display: none;
    z-index: 999;
}
.btn-box-close {
    white-space: nowrap;
    position: absolute;
    right: 2px;
    bottom: 299px;
    padding: 3px 15px;
    background: #44619D;
    color: #fff;
    cursor: pointer;
    z-index: 999;
}

.fb-chat-off {
    position:fixed;
    left: 0;
    bottom: 0;
    right: 2px;
    padding: 3px 15px;
    background: #44619D;
    color: #fff;
    cursor: pointer;
    z-index: 999;
}
